
.Frame {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 15vw 85vw; 

    .aside {
        grid-column: 1 / 2;
        align-self: center;
        justify-self: end;
    }


    .content {
        grid-column: 2 / 3;

        padding: 0 10vw 0 7.5vw;

        display: grid;
        grid-template-rows: 20vh auto;

        overflow-y: scroll;

        .header {
            font-weight: 900;
            font-size: 375%;
            text-align: right;

            align-content: center;
            align-self: center;
            justify-self: end;

            overflow: hidden;
        }

        .children {
            line-height: 160%;
            font-family: -apple-system;
        }
    }
}
