@import 'src/const/colors.scss';

.Nav {
    display: flex;
    flex-wrap: wrap;

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

    a {
        flex: 1;
        display: flex;

        /* Alignment of entire `Nav` handled by props, but elements should always */
        /* be centered within themselves. */
        align-items: center;
        justify-content:center;

        color: $nav-inactive;
        text-decoration: none;
        font-weight: 800;

        transition: color 0.15s ease-out;

        &:hover {
            color: $text-hover;
        }
    }

    /*.activeNavLink {*/
        /*color: $nav-active;*/
    /*}*/
}
