.Nav {
    display: flex;
    flex-wrap: wrap;

    a {
        flex: 1;
        
        display: flex;

        align-items: center;
        justify-content:center;

        color: black;
        text-decoration: none;
        font-weight: bold;

        transition: color 0.25s ease;

        &:hover {
            color: rgb(150, 155, 180);
        }

    }
}
