@import 'src/const/colors.scss';

.Nav {
    display: flex;
    flex-wrap: wrap;

    a {
        flex: 1; /* parent */
        
        display: flex;

        align-items: center;
        justify-content:center;

        color: $nav-inactive;
        text-decoration: none;
        font-weight: 800;
        transform: scaleY(.9);
        transform-origin: 0 0;

        transition: color 0.15s ease-out;

        &:hover {
            color: $text-hover;
        }
    }

    .activeNavLink {
        color: $nav-active;
    }
}
