@import 'src/colors.scss';

html, body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: calc(0.75em + 0.5vmin);
}

